<html>
	<head>
		<title>Potin n°<%= params[:id] %> </title>
	</head>
	<body>
		<h1>PAGE POTIN</h1>
		<p>Voici la page du potin n°<%= params[:id] %> </p>
		<p>son auteur <%= gossips.[0]author %></p>
		<p>Le contenu du potin : <%= gossips.[0]content %> </p>
		<p> <a href="'/'">Lien pour revenir à la page des potins</a>
	</body>
</html>